/* Write your CSS here */
.each-app-item {
  list-style-type: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  height: 150px;
  width: 150px;
  margin: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.each-app-item-img {
  width: 60%;
  height: 60%;
  margin-bottom: 10%;
}
.app-name {
  font-size: 12px;
  font-weight: bold;
  color: #1e293b;
}
